.features-section{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    background-color: #25292E;
 }
 
 .feature{
   width:45%;
   display:flex;
   justify-content: center;
   flex-direction: column;
   padding:20px;
   color:white;
   margin:50px 0px 40px 50px;
   
 }
 
 .feature img{
   width:70px;
   margin-bottom: 13px;
 }
 
 .feature h1{
   font-size:34px;
   font-weight: bold;
   margin-bottom:13px;
 }
 
 .feature p{
   font-size:20px;
   margin-bottom:10px;
   font-weight: 300;
 }

 @media only screen and (max-width:600px){

  .feature{
    width:100%;
    padding:5px;
    margin:50px 0px 25px 50px;
    
  }

  .feature h1{
    font-size:27px;
  }

  .feature p{
    font-size:21px;
    font-weight: 200;
  }
 }