
.footer{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    background-color: #f7f7ff;
  }
  
  .footer-section{
    display: flex;
    flex-direction: column;
    height:250px;
   
  }
  
  .footer-section h1{
    font-size:17px;
    margin:30px 0 30px 0;
  }
  
  .footer-section a{
    text-decoration:none;
    color:#606770;
    margin-bottom:15px;
  }
  
  .footer-section a:hover{
    text-decoration: underline;
    color:#414360;
  }